

    <div class="section">
        <h2>{{currentPost.title}}</h2>
        <p>Description: {{currentPost.description}}</p>
        <div>
            <p>Username: {{currentPost.username}}</p>
            <p>Created at: {{formatDate currentPost.createdAt}}</p>
        </div>
        </div>
    <img style="height: 300px; width: 300px" src="/{{currentPost.image}}" />

    <div>

        <span>
        <textarea cols="70" id="comment-text" class="comment-box-text" placeholder="Comment..." ></textarea>
        <button id="comment-button" data-postid="{{currentPost.id}}" type="submit"  style="height: 30px;" >
        Comment
        </button>
        </span>

    </div>


<div id="comment-list" class="comments">
{{#each currentPost.comments}}
{{> comment this}}
{{/each}}
</div>





